*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #F2F6FA;
    .footer-top{
        padding: 70px 0 50px;
        .container{
            text-align: center;
            max-width: 1200px;
            width: 100%;
            padding: 0 25px;
            .contact{
                width: 49%;
                border: solid 0.5px rgb(230, 230, 230);
                padding: 30px 15px;
                margin-bottom: 50px;
                .title{
                    margin-bottom: 45px;
                    h5{
                        text-transform: uppercase;
                        color: #eb4d4b;
                        font-size: 16px;
                        letter-spacing: 8px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 12px;
                        @media screen and (max-width:391px) {
                            font-size: 14px;
                            margin-bottom: 8px;
                            letter-spacing: 3px;
                        }
                        @media screen and (min-width:391px) and (max-width:821px) {
                            font-size: 16px;
                            margin-bottom: 12px;
                            letter-spacing: 5px;
                        }
                    }
                    h1{
                        position: relative;
                        font-weight: 600;
                        padding-bottom: 25px;
                        &::after{
                            border-top: 4px solid #eb4d4b;
                            bottom: 0px;
                            content: "";
                            position: absolute;
                            left: 42%;
                            right: 42%;
                            width: 16%;
                        }
                        @media screen and (max-width:391px) {
                            font-size: 26px;
                            line-height: 26px;
                            &::after{
                                left: 37.5%;
                                right: 37.5%;
                                width: 25%;
                                bottom: -20px;
                            }
                        }
                        @media screen and (min-width:391px) and (max-width:821px) {
                            font-size: 30px;
                            line-height: 30px;
                            &::after{
                                left: 45%;
                                right: 45%;
                                width: 10%;
                                bottom: -20px;
                            }
                        }
                    }
                }
                form{
                    .name-email{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        input{
                            width: 47%;
                            height: 45px;
                            border: solid 0.5px rgb(230, 230, 230);
                            border-radius: 10px;
                            padding-left: 20px;
                            outline: none;
                            &::placeholder{
                                color: rgb(200, 200, 200);
                            }
                        }
                    }
                    .message{
                        margin-bottom: 10px;
                        textarea{
                            font-size: 16px;
                            width: 100%;
                            height: 130px;
                            border: solid 0.5px rgb(230, 230, 230);
                            border-radius: 10px;
                            padding: 10px 10px;
                            outline: none;
                            &::placeholder{
                                color: rgb(200, 200, 200);
                            }
                        }
                    }
                    button{
                        background-color: #eb4d4b;
                        height: 50px;
                        padding: 8px 20px;
                        border: none;
                        border-radius: 30px;
                        font-size: 14px;
                        color: white;
                        transition: 0.5s;
                        &:hover{
                            color: white;
                            background-color:#232323;
                        }
                    }
                }
                @media screen and (max-width:391px) {
                    width: 100%;
                }
                @media screen and (min-width:391px) and (max-width:821px) {
                    width: 100%;
                }
            }
            .subscribe{
                width: 49%;       
                border: solid 0.5px rgb(230, 230, 230);
                padding: 30px 15px;
                .title{
                    margin-bottom: 40px;
                    h5{
                        text-transform: uppercase;
                        color: #eb4d4b;
                        font-size: 16px;
                        letter-spacing: 8px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 12px;
                        @media screen and (max-width:391px) {
                            font-size: 14px;
                            margin-bottom: 8px;
                            letter-spacing: 3px;
                        }
                        @media screen and (min-width:391px) and (max-width:821px) {
                            font-size: 16px;
                            margin-bottom: 12px;
                            letter-spacing: 5px;
                        }
                    }
                    h1{
                        position: relative;
                        font-weight: 600;
                        padding-bottom: 25px;
                        &::after{
                            border-top: 4px solid #eb4d4b;
                            bottom: 0px;
                            content: "";
                            position: absolute;
                            left: 42%;
                            right: 42%;
                            width: 16%;
                        }
                        @media screen and (max-width:391px) {
                            font-size: 26px;
                            line-height: 26px;
                            &::after{
                                left: 37.5%;
                                right: 37.5%;
                                width: 25%;
                                bottom: -20px;
                            }
                        }
                        @media screen and (min-width:391px) and (max-width:821px) {
                            font-size: 30px;
                            line-height: 30px;
                            &::after{
                                left: 45%;
                                right: 45%;
                                width: 10%;
                                bottom: -20px;
                            }
                        }
                    }
                }
                .letter-icon{
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    svg{
                        fill: #EB4D50;
                    }
                }
                h2{
                    font-size: 22px;
                    font-weight: 600;
                }
                p{
                    font-size: 14px;
                    color: rgb(120, 120, 120);
                }
                .email{
                    position: relative;
                    padding: 0 40px;
                    margin-bottom: 20px;
                    input{
                        padding-left: 20px;
                        width: 100%;
                        height: 50px;
                        border-radius: 30px;
                        border: solid 0.5px rgb(230, 230, 230);
                        outline: none;
                        &::placeholder{
                            font-size: 14px;
                        }
                    }
                    button{
                        position: absolute;
                        top: 2.5px;
                        right: 42.5px;
                        background-color: #eb4d4b;
                        height: 45px;
                        padding: 8px 30px;
                        border: none;
                        border-radius: 30px;
                        font-size: 14px;
                        color: white;
                        transition: 0.5s;
                        &:hover{
                            color: white;
                            background-color: #232323;
                        }
                    }
                }
                .social-net{
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            margin: 0;
                            a{
                               svg{
                                width: 40px;
                                height: 40px;
                               }
                            }
                        }
                    }
                }
                @media screen and (max-width:391px) {
                    width: 100%;
                }
                @media screen and (min-width:391px) and (max-width:821px) {
                    width: 100%;
                }
            }

        }
    }
    
    .footer-mid{
        padding: 0 0 50px;
        .fm-ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: 14px;
            li{
                line-height: 30px;
                margin-bottom: 0px;
                &:nth-child(even){
                    color: gray;
                    font-weight: 100;
                    margin: 0 10px;
                }
                a{
                    letter-spacing: 0.5px;
                    font-weight: 400;
                    text-decoration: none;
                    color: rgb(100, 100, 100);
                    transition: 0.5s;
                    &:hover{
                        color: #eb4d4b;
                    }
                }
            }
        }
        .active-i{
            transform: rotateZ(180deg);
        }
        .footer-mid-sm{
            padding: 0 10px;
            .accordion{
                .steps{
                        .sect{
                            display: flex;
                            justify-content: space-between;
                            h3{
                                font-size: 16px;
                                font-weight: 500;
                            }
                            i{
                                transition: 0.5s;
                            }
                        }
                        .ul{
                            display: none;
                            ul{
                                list-style: none;
                                padding: 0;
                                li{
                                    a{
                                        text-decoration: none;
                                        color: gray;
                                    }
                                }
                            }
                        }
                }
            }
        }
    }
    .footer-bottom{
        padding: 10px 0;
        background-color:#151515;
        span{
            vertical-align: middle;
            color: white;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5px;
            padding: 0;
            a{
                text-decoration: none;
                color: white;
            }
            @media screen and (max-width:391px) {
                text-align: center;
                margin-bottom: 10px;
            }
        }
        .pay-cards{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img{
                margin-left: 10px;
            }
            @media screen and (max-width:391px) {
                justify-content: center;
            }
        }
        @media screen and (min-width:391px) and (max-width:821px) {
            display: flex;
            span{
                width: 50%;
            }
            .pay-cards{
                width: 50%;
            }
        }
    }
    .go-top{
        opacity: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eb4d4b;
        text-decoration: none;
        color: white;
        transition: 0.5s;
        &:hover{
            background-color: #232323;
        }
    }
    .show {
        opacity: 1;
        visibility: visible;
    }
}