*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.go-home-head{
    height: 90px;
    @media screen and (max-width:821px) {
        height: 0px;
    }
}
section#go-home{
    background-image: url(/assets/images/products/breadcrumb.png);
    background-attachment: fixed;
    background-size: calc(160%);
    background-position: -350px -50px;
    display: flex;
    justify-content: center;
    padding: 65px 15px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    a{
        text-decoration: none;
        color: #232323;
        i{
            font-size: 12px;
            &:hover{
                color: #eb4d4b;
            }
        }
        &:hover{
            color: #eb4d4b;
        }
    }
    @media screen and (max-width:821px) {
        padding: 40px 0px;
        background-color: whitesmoke;
        background-image: none;
    }
}