*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

//header-mini
div#mini-head{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    justify-content: center;
    background-color: white;
    .container{
        .row{
            padding: 10px 0;
            flex-wrap: nowrap;
            justify-content: space-between;
            .burger-search{
                display: flex;
                justify-content: flex-start;
                .nav-icon{
                    width: 40px;
                    height: 40px;
                }
                .search{
                    width: 40px;
                    height: 40px;
                }
                .search-active{
                    display: none;
                }
            }
            .logo{
                width: 156px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height:100%;
                }
            }
            .login-cart{
                display: flex;
                justify-content: flex-end;
                .login{
                    width: 40px;
                    height: 40px;
                }
                .cart{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    @media screen and (max-width:821px) {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        .container{
            .row{
                padding: 10px 0;
                justify-content: space-between;
                .burger-search{
                    display: flex;
                    justify-content: flex-start;
                    .nav-icon{
                        width: 40px;
                        height: 40px;
                    }
                    .search{
                        width: 40px;
                        height: 40px;
                    }
                }
                .logo{
                    width: 200px!important;
                    height: 35px!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%!important;
                        height:100%!important;
                    }
                }
                .login-cart{
                    display: flex;
                    justify-content: flex-end;
                    .login{
                        width: 40px;
                        height: 40px;
                    }
                    .cart{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

//header-large
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    padding: 30px 0;
    .container{
        width: 1200px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin: 0 30px;
        .logo{
            justify-content: flex-start;
            img{
                width: 200px;
                height: 35px;
            }
        }
        .nav-bar{
            justify-content: center;
            padding-right: 60px;
            nav{
                justify-content: center;
                #product-page-nav{
                        li{
                            a{
                            color: #232323;
                            &:hover{
                                color:#EB4D50;
                            }
                            }
                        }
                }
                ul{
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        position: relative;
                        a{
                            display: block;
                            padding:15px;
                            text-decoration: none;
                            font-weight: 400;
                            font-size: 15px;
                            color: white;
                            transition: 0.5s;
                            &:hover{
                                color:#232323;
                            }
                        }
                        a.other-page{
                            color: #232323;
                        }
                    }
                    li.accesories{
                        .drop-down{
                            width: 420px;
                        }
                    }
                    li{
                        .drop-down{
                            position: absolute;
                            left: 20px;
                            width: 630px;
                            padding: 15px;
                            border: solid 0.5px rgb(200, 200, 200);
                            background-color: white;
                            box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.30);
                            .drop-title{
                                text-align: left;
                                position: relative;
                                padding: 0px;
                                span{
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                                span::after{
                                    border-top: 1px solid #ddd;
                                    bottom: -10px;
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    width: 50%;
                                }
                            }
                            .drop-list{
                                ul{
                                    li{
                                        line-height: 30px;
                                        a{
                                            font-size: 14px;
                                            color: gray;
                                            padding: 0px;
                                            &:hover{
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-cart-login{
            justify-content: flex-end;
            div{
                position: relative;
                width: 40px;
                height: 40px;
                svg{
                    fill: white;
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover{
                        fill:#232323;
                    }
                }
            }
            .search{
                input{
                    position: absolute;
                    top: 45px;
                    padding: 0 15px;
                    right: 0;
                    outline: none;
                    width: 340px;
                    height: 40px;
                    border: solid 0.3px rgb(220, 220, 220);
                    &::placeholder{
                        color: #adadad;
                    }
                }
            }
            .login{
                .login-drop{
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width: 310px;
                    height: max-content;
                    padding: 10px 20px;
                    background-color: white;
                    border: solid 0.5px rgb(200, 200, 200);
                    box-shadow: 0px 7px 15px rgba(128, 128, 128, 0.40);
                    span{
                        font-size: 14px;
                    }
                    ul{
                        padding: 0 10px 10px;
                        margin: 0px;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        li{
                            line-height: 30px;
                            a{
                                font-size: 13px;
                                color: gray;
                                padding: 0px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .languages{
                        padding:10px 0;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        ul{
                            padding: 0px;
                            border: 0px;
                            li{
                                padding: 0 10px;
                                margin-right: 20px;
                                a{
                                    text-decoration: none;
                                    img{
                                        object-fit: contain;
                                        margin-right: 10px;
                                    }
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .currency{
                        padding:10px 0 0;
                        width: 100%;
                        height: max-content;
                        ul{
                            justify-content: space-between;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            border: none;
                            li{
                                padding: 0 10px;
                                a{
                                    font-size: 12px;
                                    text-decoration: none;
                                }
                                
                            }
                        }
                    }
                }
            }
            .cart{
                sup{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    background-color: #EB4D50;
                    color: white;
                    border-radius: 50%;
                    top: 2px;
                    right: 2px;
                }
                .cart-drop.active{
                    transition: 1s;
                    display: block!important;
                }
                .cart-drop{
                    border:solid 0.5px rgb(240, 240, 240);
                    display: none;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background-color: white;
                    padding: 0 10px;
                    height: 100vh;
                    width: 400px;
                    transition: 1s;
                    .cd-top{
                        width: 100%;
                        border-bottom:solid 0.5px rgb(240, 240, 240);
                    }
                    .cd-mid{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 60%;
                        width: 100%;
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            color: gray;
                        }
                    }
                    .cd-btm{
                        position: sticky;
                        bottom: 0;
                        bottom: 0;
                        height: 30%;
                        width: 100%;
                        border-top:solid 0.5px rgb(240, 240, 240);
                        ul{
                            list-style: none;
                            padding: 10px 0;
                            margin: 0;
                            li{
                                line-height: 30px;
                                display: flex;
                                justify-content: space-between;
                                span{
                                    color:  #232323;
                                    font-size: 15px;
                                    &:nth-child(2){
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .buttons{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            button{
                                width: 49%;
                                border: none;
                                color: white;
                                padding: 10px 20px;
                                font-size: 14px;
                                background-color: #EB4D50;
                                transition: 0.5s;
                                &:hover{
                                    background-color: #232323;
                                }
                                &:nth-child(2){
                                    background-color: #232323;
                                    &:hover{
                                        background-color: #EB4D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #product-nav-icon.search-cart-login{
            svg{
                fill:#232323;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    fill:#EB4D50;
                }
            }
        }
    }
}

.scroll-header{
    position: sticky;
    background-color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    display: none;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.50);
    transition: 0.5s;
    .container{
        justify-content: center;
        width: 1200px;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 30px;
        .logo{
            justify-content: flex-start;
            align-items: center;
            img{
                width: 200px;
                height: 35px;
            }
        }
        .nav-bar{
            justify-content: center;
            padding-right: 60px;
            nav{
                justify-content: center;
                ul{
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        position: relative;
                        a{
                            display: block;
                            padding:15px;
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            transition: 0.5s;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                    li.accesories{
                        .drop-down{
                            width: 420px;
                        }
                    }
                    li{
                        .drop-down{
                            position: absolute;
                            left: 20px;
                            width: 630px;
                            padding: 15px;
                            border: solid 0.5px rgb(200, 200, 200);
                            background-color: white;
                            .drop-title{
                                text-align: left;
                                position: relative;
                                padding: 0px;
                                span::after{
                                    border-top: 1px solid #ddd;
                                    bottom: -10px;
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    width: 50%;
                                }
                            }
                            .drop-list{
                                ul{
                                    li{
                                        line-height: 30px;
                                        a{
                                            font-size: 14px;
                                            color: gray;
                                            padding: 0px;
                                            &:hover{
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-cart-login{
            justify-content: flex-end;
            align-items: center;
            div{
                position: relative;
                width: 40px;
                height: 40px;
                svg{
                    fill: rgb(0, 0, 0);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover{
                        fill: black;
                    }
                }
            }
            .search{
                input{
                    position: absolute;
                    top: 45px;
                    padding: 0 15px;
                    right: 0;
                    outline: none;
                    width: 340px;
                    height: 40px;
                    border: solid 0.3px rgb(220, 220, 220);
                    &::placeholder{
                        color: #adadad;
                    }
                }
            }
            .login{
                .login-drop{
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width: 310px;
                    height: max-content;
                    padding: 10px 20px;
                    background-color: white;
                    border: solid 0.5px rgb(200, 200, 200);
                    box-shadow: 0px 7px 15px rgba(128, 128, 128, 0.40);
                    span{
                        font-size: 14px;
                    }
                    ul{
                        padding: 0 10px 10px;
                        margin: 0px;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        li{
                            line-height: 30px;
                            a{
                                font-size: 13px;
                                color: gray;
                                padding: 0px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .languages{
                        padding:10px 0;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        ul{
                            padding: 0px;
                            border: 0px;
                            li{
                                padding: 0 10px;
                                margin-right: 20px;
                                a{
                                    text-decoration: none;
                                    img{
                                        object-fit: contain;
                                        margin-right: 10px;
                                    }
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .currency{
                        padding:10px 0 0;
                        width: 100%;
                        height: max-content;
                        ul{
                            justify-content: space-between;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            border: none;
                            li{
                                padding: 0 10px;
                                a{
                                    font-size: 12px;
                                    text-decoration: none;
                                }
                                
                            }
                        }
                    }
                }
            }
            .cart{
                sup{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    background-color: #EB4D50;
                    color: white;
                    border-radius: 50%;
                    top: 2px;
                    right: 2px;
                }
                .cart-drop{
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 400px;
                    background-color: white;
                }
            }
        }
    }
}

