*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.on-cart{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    padding: 30px 0;
    .container{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin: 0 30px;
        .logo{
            justify-content: flex-start;
            img{
                width: 200px;
                height: 35px;
            }
        }
        .nav-bar{
            justify-content: center;
            padding-right: 60px;
            nav{
                justify-content: center;
                ul{
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        position: relative;
                        a{
                            display: block;
                            padding:15px;
                            text-decoration: none;
                            color: white;
                            transition: 0.5s;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                    li.accesories{
                        .drop-down{
                            width: 420px;
                        }
                    }
                    li{
                        .drop-down{
                            position: absolute;
                            left: 20px;
                            width: 630px;
                            padding: 15px;
                            border: solid 0.5px rgb(200, 200, 200);
                            background-color: white;
                            box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.30);
                            .drop-title{
                                text-align: left;
                                position: relative;
                                padding: 0px;
                                span{
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                                span::after{
                                    border-top: 1px solid #ddd;
                                    bottom: -10px;
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    width: 50%;
                                }
                            }
                            .drop-list{
                                ul{
                                    li{
                                        line-height: 30px;
                                        a{
                                            font-size: 14px;
                                            color: gray;
                                            padding: 0px;
                                            &:hover{
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-cart-login{
            justify-content: flex-end;
            div{
                position: relative;
                width: 40px;
                height: 40px;
                svg{
                    fill: white;
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover{
                        fill: black;
                    }
                }
            }
            .search{
                input{
                    position: absolute;
                    top: 45px;
                    padding: 0 15px;
                    right: 0;
                    outline: none;
                    width: 340px;
                    height: 40px;
                    border: solid 0.3px rgb(220, 220, 220);
                    &::placeholder{
                        color: #adadad;
                    }
                }
            }
            .login{
                .login-drop{
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width: 310px;
                    height: max-content;
                    padding: 10px 20px;
                    background-color: white;
                    border: solid 0.5px rgb(200, 200, 200);
                    box-shadow: 0px 7px 15px rgba(128, 128, 128, 0.40);
                    span{
                        font-size: 14px;
                    }
                    ul{
                        padding: 0 10px 10px;
                        margin: 0px;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        li{
                            line-height: 30px;
                            a{
                                font-size: 13px;
                                color: gray;
                                padding: 0px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .languages{
                        padding:10px 0;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        ul{
                            padding: 0px;
                            border: 0px;
                            li{
                                padding: 0 10px;
                                margin-right: 20px;
                                a{
                                    text-decoration: none;
                                    img{
                                        object-fit: contain;
                                        margin-right: 10px;
                                    }
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .currency{
                        padding:10px 0 0;
                        width: 100%;
                        height: max-content;
                        ul{
                            justify-content: space-between;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            border: none;
                            li{
                                padding: 0 10px;
                                a{
                                    font-size: 12px;
                                    text-decoration: none;
                                }
                                
                            }
                        }
                    }
                }
            }
            .cart{
                sup{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    background-color: #EB4D50;
                    color: white;
                    border-radius: 50%;
                    top: 2px;
                    right: 2px;
                }
                .cart-drop{
                    animation-duration: 0.5s;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: auto;
                    width: 400px;
                    background-color: white;
                    border: 1px solid #e9e9e9;
                    padding: 0 10px;
                    z-index: 3;
                    transition: 0.5s;
                    .cart-top{
                        padding: 30px 0;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #eee;
                        span{
                            font-size: 14px;
                        }
                        svg{
                            width: 20px;
                            height: 20px;
                            fill: gray;
                        }
                    }
                    .cart-list{
                        width: 100%;
                        height: 100%;
                        .product-list{
                            overflow-y: scroll;
                            overflow-x: hidden;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            li{
                                margin: 0;
                                p{
                                    margin: 50% auto;
                                    text-align: center;
                                    color: #adadad;
                                }
                            }
                        }
                    }
                    .cart-bottom{
                        position: sticky;
                        bottom: 0px;
                        width: 100%;
                        height: 30%;
                        border-top: 1px solid #eee;
                        background-color: white;
                        ul{
                            line-height: 30px;
                            font-size: 15px;
                            padding: 0;
                            margin: 0;
                            li{
                                margin: 0;
                                display: flex;
                                justify-content: space-between;
                                span:nth-child(even){
                                    font-weight: 500;
                                }
                            }
                        }
                        .buttons{
                            width: 100%;
                            padding: 10px 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            button{
                                font-size: 14px;
                                height: 40px;
                                width: 49%;
                                border: none;
                                background-color:#EB4D50;
                                color: white;
                                transition: 0.5s;
                                &:hover{
                                    background-color: #232323;
                                }
                                &:nth-child(2){
                                    background-color: #232323;
                                }
                                &:nth-child(2):hover {
                                    background-color:#EB4D50;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





.scroll-header{
    position: sticky;
    background-color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    display: none;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.50);
    transition: 0.5s;
    .container{
        justify-content: center;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 30px;
        .logo{
            justify-content: flex-start;
            align-items: center;
            img{
                width: 200px;
                height: 35px;
            }
        }
        .nav-bar{
            justify-content: center;
            padding-right: 60px;
            nav{
                justify-content: center;
                ul{
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        position: relative;
                        a{
                            display: block;
                            padding:15px;
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            transition: 0.5s;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                    li.accesories{
                        .drop-down{
                            width: 420px;
                        }
                    }
                    li{
                        .drop-down{
                            position: absolute;
                            left: 20px;
                            width: 630px;
                            padding: 15px;
                            border: solid 0.5px rgb(200, 200, 200);
                            background-color: white;
                            .drop-title{
                                text-align: left;
                                position: relative;
                                padding: 0px;
                                span::after{
                                    border-top: 1px solid #ddd;
                                    bottom: -10px;
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    width: 50%;
                                }
                            }
                            .drop-list{
                                ul{
                                    li{
                                        line-height: 30px;
                                        a{
                                            font-size: 14px;
                                            color: gray;
                                            padding: 0px;
                                            &:hover{
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-cart-login{
            justify-content: flex-end;
            align-items: center;
            div{
                position: relative;
                width: 40px;
                height: 40px;
                svg{
                    fill: rgb(0, 0, 0);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover{
                        fill: black;
                    }
                }
            }
            .search{
                input{
                    position: absolute;
                    top: 45px;
                    padding: 0 15px;
                    right: 0;
                    outline: none;
                    width: 340px;
                    height: 40px;
                    border: solid 0.3px rgb(220, 220, 220);
                    &::placeholder{
                        color: #adadad;
                    }
                }
            }
            .login{
                .login-drop{
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width: 310px;
                    height: max-content;
                    padding: 10px 20px;
                    background-color: white;
                    border: solid 0.5px rgb(200, 200, 200);
                    box-shadow: 0px 7px 15px rgba(128, 128, 128, 0.40);
                    span{
                        font-size: 14px;
                    }
                    ul{
                        padding: 0 10px 10px;
                        margin: 0px;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        li{
                            line-height: 30px;
                            a{
                                font-size: 13px;
                                color: gray;
                                padding: 0px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .languages{
                        padding:10px 0;
                        width: 100%;
                        height: max-content;
                        border-bottom: solid 1px rgb(230, 230, 230);
                        ul{
                            padding: 0px;
                            border: 0px;
                            li{
                                padding: 0 10px;
                                margin-right: 20px;
                                a{
                                    text-decoration: none;
                                    img{
                                        object-fit: contain;
                                        margin-right: 10px;
                                    }
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .currency{
                        padding:10px 0 0;
                        width: 100%;
                        height: max-content;
                        ul{
                            justify-content: space-between;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            border: none;
                            li{
                                padding: 0 10px;
                                a{
                                    font-size: 12px;
                                    text-decoration: none;
                                }
                                
                            }
                        }
                    }
                }
            }
            .cart{
                sup{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    background-color: #EB4D50;
                    color: white;
                    border-radius: 50%;
                    top: 2px;
                    right: 2px;
                }
                .cart-drop{
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 400px;
                    background-color: white;
                }
            }
        }
    }
}
