* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section#collection {
  margin-bottom: 30px;
}
section#collection .container {
  max-width: 1200px;
  width: 100%;
  width: 100%;
  padding: 0 25px;
}
section#collection .container .row {
  justify-content: space-between;
}
section#collection .container .row .left-bar {
  width: 23%;
  padding: 0;
}
section#collection .container .row .left-bar .categories {
  border: solid 0.5px rgb(230, 230, 230);
  margin-bottom: 30px;
}
section#collection .container .row .left-bar .categories .head {
  padding: 15px;
  background-color: whitesmoke;
}
section#collection .container .row .left-bar .categories .head h5 {
  margin: 0;
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
}
section#collection .container .row .left-bar .categories .body {
  padding: 0 15px;
}
section#collection .container .row .left-bar .categories .body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section#collection .container .row .left-bar .categories .body ul li {
  line-height: 35px;
  font-size: 14px;
}
section#collection .container .row .left-bar .refine-search {
  border: solid 0.5px rgb(230, 230, 230);
  margin-bottom: 30px;
}
section#collection .container .row .left-bar .refine-search .head {
  padding: 15px;
  background-color: whitesmoke;
}
section#collection .container .row .left-bar .refine-search .head h5 {
  margin: 0;
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
}
section#collection .container .row .left-bar .refine-search .body {
  padding: 15px;
}
section#collection .container .row .left-bar .refine-search .body .list {
  margin-bottom: 15px;
}
section#collection .container .row .left-bar .refine-search .body .list h6 {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
section#collection .container .row .left-bar .refine-search .body .list ul {
  list-style: none;
  color: #888;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}
section#collection .container .row .left-bar .refine-search .body .list ul li {
  line-height: 30px;
}
section#collection .container .row .left-bar .refine-search .body button {
  border: none;
  background-color: #222;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  color: white;
  transition: 0.5s;
}
section#collection .container .row .left-bar .refine-search .body button:hover {
  background-color: #EB4D50;
}
section#collection .container .row .left-bar .bestsellers {
  border: solid 0.5px rgb(230, 230, 230);
  margin-bottom: 30px;
}
section#collection .container .row .left-bar .bestsellers .head {
  padding: 15px;
  background-color: whitesmoke;
}
section#collection .container .row .left-bar .bestsellers .head h5 {
  margin: 0;
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
}
section#collection .container .row .left-bar .bestsellers .body {
  padding: 15px;
}
section#collection .container .row .left-bar .bestsellers .body .products {
  display: flex;
  margin-bottom: 15px;
}
section#collection .container .row .left-bar .bestsellers .body .products .product-detail {
  margin-left: 10px;
}
section#collection .container .row .left-bar .bestsellers .body .products .product-detail h6 {
  font-size: 15px;
  font-weight: 400;
}
section#collection .container .row .left-bar .bestsellers .body .products .product-detail span {
  color: #EB4D50;
  font-size: 14px;
  font-weight: 500;
}
section#collection .container .row .left-bar .latest-products {
  border: solid 0.5px rgb(230, 230, 230);
  margin-bottom: 30px;
}
section#collection .container .row .left-bar .latest-products .head {
  padding: 15px;
  background-color: whitesmoke;
}
section#collection .container .row .left-bar .latest-products .head h5 {
  margin: 0;
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
}
section#collection .container .row .left-bar .latest-products .body {
  padding: 15px;
}
section#collection .container .row .left-bar .latest-products .body .products {
  display: flex;
  margin-bottom: 15px;
}
section#collection .container .row .left-bar .latest-products .body .products .product-detail {
  margin-left: 10px;
}
section#collection .container .row .left-bar .latest-products .body .products .product-detail h6 {
  font-size: 15px;
  font-weight: 400;
}
section#collection .container .row .left-bar .latest-products .body .products .product-detail span {
  color: #EB4D50;
  font-size: 14px;
  font-weight: 500;
}
section#collection .container .row .left-bar .latest-products .body .products .product-detail .discount {
  text-decoration: line-through;
  color: #888;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row .left-bar {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .left-bar {
    width: 100%;
    margin-top: 30px;
  }
}
section#collection .container .row .category {
  width: 74%;
  padding: 0;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row .category .row {
    flex-direction: row;
  }
}
section#collection .container .row .category .head {
  padding: 15px;
  background-color: whitesmoke;
}
section#collection .container .row .category .head .row .left-side {
  display: flex;
  width: 50%;
}
section#collection .container .row .category .head .row .left-side .btn-list {
  display: flex;
}
section#collection .container .row .category .head .row .left-side .btn-list button {
  height: 25px;
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0 5px;
  background-color: whitesmoke;
  font-size: 20px;
  color: #888;
  transition: 0.5s;
}
section#collection .container .row .category .head .row .left-side .btn-list .grid i {
  transition: 0.2s;
}
section#collection .container .row .category .head .row .left-side .btn-list .grid i:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
}
section#collection .container .row .category .head .row .left-side .btn-list .grid i:nth-child(2) {
  color: #222;
  position: absolute;
  top: -25px;
  left: 5px;
}
section#collection .container .row .category .head .row .left-side .btn-list .list i {
  transition: 0.2s;
}
section#collection .container .row .category .head .row .left-side .btn-list .list i:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
}
section#collection .container .row .category .head .row .left-side .btn-list .list i:nth-child(2) {
  color: #222;
  position: absolute;
  top: -25px;
  left: 5px;
}
section#collection .container .row .category .head .row .left-side .grid:hover i:nth-child(1) {
  position: relative;
  top: 20px;
}
section#collection .container .row .category .head .row .left-side .grid:hover i:nth-child(2) {
  position: absolute;
  top: 0px;
}
section#collection .container .row .category .head .row .left-side .list:hover i:nth-child(1) {
  position: relative;
  top: 20px;
}
section#collection .container .row .category .head .row .left-side .list:hover i:nth-child(2) {
  position: absolute;
  top: 0px;
}
section#collection .container .row .category .head .row .left-side .compare {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
section#collection .container .row .category .head .row .left-side .compare span:hover {
  color: #EB4D50;
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .head .row .left-side {
    width: 100%;
    margin-bottom: 10px;
  }
}
section#collection .container .row .category .head .row .selects {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
section#collection .container .row .category .head .row .selects span {
  font-size: 14px;
}
section#collection .container .row .category .head .row .selects select {
  outline: none;
  border: solid 0.5px rgb(230, 230, 230);
  border-radius: 0px;
  padding: 7px 0;
  font-size: 12px;
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .head .row .selects select {
    margin: 0 0 10px;
  }
}
section#collection .container .row .category .head .row .selects .select-2 {
  margin-left: 30px;
}
section#collection .container .row .category .head .row .selects .select-2 select {
  width: 100px;
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .head .row .selects .select-2 {
    margin: 0;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .head .row .selects {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .head .row {
    flex-direction: column;
  }
}
section#collection .container .row .category .body-transition {
  transition: 0.5s;
}
section#collection .container .row .category .body-grid .prdct.grid {
  width: 33%;
  position: relative;
  padding: 15px 15px 0;
  text-align: center;
}
section#collection .container .row .category .body-grid .prdct.grid .image {
  overflow: hidden;
  position: relative;
  height: 355px;
}
section#collection .container .row .category .body-grid .prdct.grid .image a {
  width: 100%;
  height: 100%;
}
section#collection .container .row .category .body-grid .prdct.grid .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.8s all;
}
section#collection .container .row .category .body-grid .prdct.grid .image img:nth-child(1) {
  opacity: 1;
}
section#collection .container .row .category .body-grid .prdct.grid .image img:nth-child(2) {
  opacity: 0;
}
section#collection .container .row .category .body-grid .prdct.grid .image:hover img:nth-child(1) {
  opacity: 0;
}
section#collection .container .row .category .body-grid .prdct.grid .image:hover img:nth-child(2) {
  opacity: 1;
  transform: rotateY(180deg);
}
section#collection .container .row .category .body-grid .prdct.grid .image .rate {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
section#collection .container .row .category .body-grid .prdct.grid .image .rate i {
  font-size: 13px;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.5s;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view .icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
  transition: 0.5s;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view .icon:hover {
  background-color: #eb4d4b;
  fill: white;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view .view {
  position: relative;
  right: -60px;
  transition-delay: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view .wish {
  position: relative;
  right: -60px;
  transition-delay: 0.6s;
  transition: 0.6s;
  opacity: 0;
}
section#collection .container .row .category .body-grid .prdct.grid .image .wish-view .compare {
  position: relative;
  right: -60px;
  transition-delay: 0.9s;
  transition: 0.9s;
  opacity: 0;
}
section#collection .container .row .category .body-grid .prdct.grid:hover .view {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-grid .prdct.grid:hover .wish {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-grid .prdct.grid:hover .compare {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-grid .prdct.grid .caption {
  padding: 10px;
}
section#collection .container .row .category .body-grid .prdct.grid .caption h4 {
  font-size: 16px;
}
section#collection .container .row .category .body-grid .prdct.grid .caption p {
  font-weight: 500;
  color: #eb4d4b;
}
section#collection .container .row .category .body-grid .prdct.grid .caption button {
  position: absolute;
  bottom: 15px;
  left: 28%;
  display: none;
  border: none;
  background-color: #eb4d4b;
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 21px;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row .category .body-grid .prdct.grid .caption button {
    left: 33%;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .body-grid .prdct.grid .caption button {
    left: 33%;
  }
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row .category .body-grid .prdct.grid {
    width: 50%;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category .body-grid .prdct.grid {
    width: 100%;
  }
}
section#collection .container .row .category .body-list .prdct.grid {
  width: 100%;
  position: relative;
  padding: 15px 15px 15px;
  display: flex;
}
section#collection .container .row .category .body-list .prdct.grid .image {
  overflow: hidden;
  width: 35%;
  position: relative;
  height: 355px;
}
section#collection .container .row .category .body-list .prdct.grid .image a {
  width: 100%;
  height: 100%;
}
section#collection .container .row .category .body-list .prdct.grid .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.8s all;
}
section#collection .container .row .category .body-list .prdct.grid .image img:nth-child(1) {
  opacity: 1;
}
section#collection .container .row .category .body-list .prdct.grid .image img:nth-child(2) {
  opacity: 0;
}
section#collection .container .row .category .body-list .prdct.grid .image:hover img:nth-child(1) {
  opacity: 0;
}
section#collection .container .row .category .body-list .prdct.grid .image:hover img:nth-child(2) {
  opacity: 1;
  transform: rotateY(180deg);
}
section#collection .container .row .category .body-list .prdct.grid .image .rate {
  position: absolute;
  bottom: 10px;
  left: 38%;
  right: 0;
}
section#collection .container .row .category .body-list .prdct.grid .image .rate i {
  font-size: 13px;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.5s;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view .icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
  transition: 0.5s;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view .icon:hover {
  background-color: #eb4d4b;
  fill: white;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view .view {
  position: relative;
  right: -60px;
  transition-delay: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view .wish {
  position: relative;
  right: -60px;
  transition-delay: 0.6s;
  transition: 0.6s;
  opacity: 0;
}
section#collection .container .row .category .body-list .prdct.grid .image .wish-view .compare {
  position: relative;
  right: -60px;
  transition-delay: 0.9s;
  transition: 0.9s;
  opacity: 0;
}
section#collection .container .row .category .body-list .prdct.grid:hover .view {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-list .prdct.grid:hover .wish {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-list .prdct.grid:hover .compare {
  transform: translateX(-60px);
  opacity: 1 !important;
}
section#collection .container .row .category .body-list .prdct.grid .caption {
  margin-left: 10px;
  padding: 10px;
}
section#collection .container .row .category .body-list .prdct.grid .caption h4 {
  font-size: 16px;
}
section#collection .container .row .category .body-list .prdct.grid .caption p {
  font-weight: 500;
  color: #eb4d4b;
}
section#collection .container .row .category .body-list .prdct.grid .caption button {
  display: block !important;
  border: none;
  background-color: #eb4d4b;
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 21px;
}
section#collection .container .row .category .foot {
  background-color: whitesmoke;
  padding: 15px;
}
section#collection .container .row .category .foot span {
  line-height: 34px;
  font-size: 14px;
  color: #333;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row .category {
    width: 100%;
  }
  section#collection .container .row .category .category-body .row {
    flex-direction: row;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row .category {
    width: 100%;
  }
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#collection .container .row {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 391px) {
  section#collection .container .row {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=categoryStyle.css.map */