* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section#slider .slide .item {
  color: white;
  position: relative;
}
section#slider .slide .item .second.title {
  left: 50px;
}
section#slider .slide .item .title {
  text-align: left;
  width: 40%;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  right: 20px;
  top: 120px;
}
section#slider .slide .item .title h4 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  font-weight: 400;
}
section#slider .slide .item .title h1 {
  font-size: 62px;
  line-height: 70px;
  font-weight: 600;
  margin-bottom: 30px;
}
section#slider .slide .item .title p {
  width: 95%;
  margin-bottom: 50px;
}
section#slider .slide .item .title button {
  background-color: #eb4d4b;
  height: 40px;
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  transition: 0.5s;
}
section#slider .slide .item .title button:hover {
  background-color: #232323;
}
section#slider .slide .owl-carousel .owl-nav button.owl-next {
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  color: white;
  background-color: #eb4d4b;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
section#slider .slide .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #232323;
}
section#slider .slide .owl-carousel .owl-nav button.owl-prev {
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  color: white;
  background-color: #eb4d4b;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
section#slider .slide .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #232323;
}
section#slider .slide .owl-theme .owl-dots {
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 0;
}
section#slider .slide .owl-theme .owl-dots .owl-dot.active span {
  background-color: #232323;
}
section#slider .slide .owl-theme .owl-dots .owl-dot button {
  border-radius: 0px;
}
section#slider .slide .owl-theme .owl-dots .owl-dot span {
  bottom: 30px;
  left: 0;
  width: 12px;
  height: 12px;
  background: #D6D6D6;
  display: block;
  transition: 0.5s;
  border-radius: 0px;
  background-color: #eb4d4b;
}
section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(1) {
  margin-right: 2.5px;
}
section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(2) {
  margin-left: 2.5px;
}
section#slider:hover .owl-carousel .owl-nav button.owl-next {
  opacity: 1;
}
section#slider:hover .owl-carousel .owl-nav button.owl-prev {
  opacity: 1;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#slider .slide .item {
    color: white;
    position: relative;
  }
  section#slider .slide .item .second.title {
    left: 50px;
  }
  section#slider .slide .item .title {
    text-align: left;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    right: 20px;
    top: 50px !important;
  }
  section#slider .slide .item .title h4 {
    font-size: 20px !important;
    line-height: 22px !important;
    margin-bottom: 10px !important;
  }
  section#slider .slide .item .title h1 {
    font-size: 38px !important;
    line-height: 44px !important;
    margin-bottom: 15px !important;
  }
  section#slider .slide .item .title p {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  section#slider .slide .item .title button {
    background-color: #eb4d4b;
    height: 40px;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    transition: 0.5s;
  }
  section#slider .slide .item .title button:hover {
    background-color: #232323;
  }
  section#slider .slide .owl-theme .owl-dots {
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: 0;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot button {
    border-radius: 0px;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span {
    bottom: 30px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #D6D6D6;
    display: block;
    transition: 0.5s;
    border-radius: 0px;
    background-color: #eb4d4b;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(1) {
    margin-right: 2.5px;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(2) {
    margin-left: 2.5px;
  }
}
@media screen and (max-width: 391px) {
  section#slider .slide .item {
    color: white;
    position: relative;
  }
  section#slider .slide .item .title {
    width: 200px;
    text-align: center;
    position: absolute;
    left: 25% !important;
    top: 65% !important;
  }
  section#slider .slide .item .title h4 {
    font-size: 14px !important;
    line-height: 19px !important;
    margin-bottom: 4px !important;
  }
  section#slider .slide .item .title h1 {
    font-size: 18px !important;
    line-height: 22px !important;
    margin-bottom: 9px !important;
  }
  section#slider .slide .item .title p {
    display: none;
  }
  section#slider .slide .item .title button {
    background-color: #eb4d4b;
    height: 30px;
    padding: 7px 15px;
    border: none;
    border-radius: 30px;
    font-size: 11px;
    color: white;
    transition: 0.5s;
  }
  section#slider .slide .item .title button:hover {
    background-color: #232323;
  }
  section#slider .slide .owl-theme .owl-dots {
    display: flex;
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: 0;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot button {
    border-radius: 0px;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span {
    bottom: 30px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #D6D6D6;
    display: block;
    transition: 0.5s;
    border-radius: 0px;
    background-color: #eb4d4b;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(1) {
    margin-right: 2.5px;
  }
  section#slider .slide .owl-theme .owl-dots .owl-dot span:nth-child(2) {
    margin-left: 2.5px;
  }
}

section#services {
  background-color: #fbfbfb;
  margin-bottom: 70px;
}
section#services .container {
  width: 1200px;
  max-width: 100%;
}
section#services .row {
  padding: 70px 0;
  align-items: center;
}
section#services .row .service {
  text-align: center;
  padding: 0 20px;
}
section#services .row .service a {
  text-decoration: none;
  color: black;
}
section#services .row .service a .service-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
section#services .row .service a .service-image img {
  width: 55px;
  height: 55px;
}
section#services .row .service a .service-image .service-rotate {
  animation: mymove 0.4s;
}
section#services .row .service a .describtion span {
  font-size: 18px;
  font-weight: 500;
}
section#services .row .service a .describtion p {
  font-size: 14px;
  color: gray;
  letter-spacing: 1px;
  line-height: 25px;
}
@media screen and (max-width: 391px) {
  section#services .row .service a {
    display: flex;
  }
  section#services .row .service a .describtion {
    text-align: left;
    margin-left: 20px;
  }
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#services {
    background-color: #fbfbfb;
    margin-bottom: 50px;
  }
  section#services .container {
    width: 1200px;
    max-width: 85%;
  }
  section#services .row {
    padding: 70px 0;
    align-items: center;
  }
  section#services .row .service {
    text-align: center;
    padding: 0 20px;
  }
  section#services .row .service a {
    text-decoration: none;
    color: black;
  }
  section#services .row .service a .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  section#services .row .service a .service-image img {
    width: 55px;
    height: 55px;
  }
  section#services .row .service a .service-image .service-rotate {
    animation: mymove 0.4s;
  }
  section#services .row .service a .describtion span {
    font-size: 18px;
    font-weight: 500;
  }
  section#services .row .service a .describtion p {
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
@keyframes mymove {
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

section#products {
  margin-bottom: 70px;
}
section#products .container {
  width: 1200px;
  max-width: 100%;
}
section#products .container .image img {
  width: 100%;
  height: 100%;
}
section#products .container .about .title {
  text-align: left;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
section#products .container .about .title h5 {
  text-transform: uppercase;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}
section#products .container .about .title h1 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
section#products .container .about .title h1::after {
  border-top: 4px solid #eb4d4b;
  bottom: -20px;
  content: "";
  position: absolute;
  left: 0;
  width: 16%;
}
section#products .container .about p {
  font-size: 14px;
  color: gray;
  letter-spacing: 1px;
}
section#products .container .about .about-list ul li {
  color: rgb(110, 110, 110);
  font-size: 15px;
  line-height: 30px;
}
section#products .container .about .about-list ul li::marker {
  font-size: 20px;
  color: #eb4d4b;
}
section#products .container .about .about-list ul:nth-child(2) {
  margin-left: 30px;
}
section#products .container .about button {
  background-color: #eb4d4b;
  height: 45px;
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  transition: 0.5s;
}
section#products .container .about button:hover {
  background-color: #232323;
}
@media screen and (max-width: 391) {
  section#products .container {
    width: 1200px;
    max-width: 85%;
  }
  section#products .container .image {
    margin-bottom: 30px;
  }
  section#products .container .image img {
    width: 100%;
    height: 100%;
  }
  section#products .container .about {
    text-align: center !important;
  }
  section#products .container .about .title {
    text-align: center !important;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  section#products .container .about .title h5 {
    text-transform: uppercase;
    color: #eb4d4b;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  section#products .container .about .title h1 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
  }
  section#products .container .about .title h1::after {
    border-top: 4px solid #eb4d4b;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 42%;
    right: 42%;
    width: 16%;
  }
  section#products .container .about p {
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
  }
  section#products .container .about .about-list {
    justify-content: center;
    margin-bottom: 20px;
  }
  section#products .container .about .about-list ul {
    text-align: left;
  }
  section#products .container .about .about-list ul li {
    color: rgb(110, 110, 110);
    font-size: 15px;
    line-height: 30px;
  }
  section#products .container .about .about-list ul li::marker {
    font-size: 20px;
    color: #eb4d4b;
  }
  section#products .container .about .about-list ul:nth-child(2) {
    margin-left: 30px;
  }
  section#products .container .about button {
    background-color: #eb4d4b;
    height: 45px;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    transition: 0.5s;
  }
  section#products .container .about button:hover {
    background-color: #232323;
  }
}
@media screen and (min-width: 391px) and (max-width: 1181px) {
  section#products {
    margin-bottom: 50px;
  }
  section#products .container {
    width: 1200px;
    max-width: 85%;
  }
  section#products .container .image {
    margin-bottom: 30px;
  }
  section#products .container .image img {
    width: 100%;
    height: 100%;
  }
  section#products .container .about {
    text-align: center !important;
  }
  section#products .container .about .title {
    text-align: center !important;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  section#products .container .about .title h5 {
    text-transform: uppercase;
    color: #eb4d4b;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  section#products .container .about .title h1 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
  }
  section#products .container .about .title h1::after {
    border-top: 4px solid #eb4d4b;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 42%;
    right: 42%;
    width: 16%;
  }
  section#products .container .about p {
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
  }
  section#products .container .about .about-list {
    justify-content: center;
    margin-bottom: 20px;
  }
  section#products .container .about .about-list ul {
    text-align: left;
  }
  section#products .container .about .about-list ul li {
    color: rgb(110, 110, 110);
    font-size: 15px;
    line-height: 30px;
  }
  section#products .container .about .about-list ul li::marker {
    font-size: 20px;
    color: #eb4d4b;
  }
  section#products .container .about .about-list ul:nth-child(2) {
    margin-left: 30px;
  }
  section#products .container .about button {
    background-color: #eb4d4b;
    height: 45px;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    transition: 0.5s;
  }
  section#products .container .about button:hover {
    background-color: #232323;
  }
}

section#customers {
  background-image: url(/assets/images/home/testimonialbackground.png);
  padding: 80px 0;
}
section#customers .container {
  width: 1200px;
  max-width: 100%;
}
section#customers .container .title {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 100px;
}
section#customers .container .title h5 {
  text-transform: uppercase;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}
section#customers .container .title h1 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
section#customers .container .title h1::after {
  border-top: 4px solid rgb(235, 77, 75);
  left: 46.5%;
  right: 46.5%;
  bottom: -20px;
  content: "";
  position: absolute;
  width: 7%;
}
section#customers .container .owl-theme .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
section#customers .container .owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
section#customers .container .owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 35px;
  margin: 5px 7px;
  background: rgb(235, 77, 75);
  display: block;
  transition: 0.5s;
  border-radius: 30px;
}
section#customers .container .owl-theme .owl-dots .owl-dot span:hover {
  background-color: #232323;
}
section#customers .container .owl-carousel {
  position: relative;
}
section#customers .container .owl-carousel .owl-stage-outer {
  overflow: hidden;
}
section#customers .container .item {
  display: flex;
  justify-content: center;
}
section#customers .container .item .customer {
  width: 97%;
  background-color: white;
  padding: 0px 50px 40px;
  margin: 50px 0 0;
}
section#customers .container .item .customer .avatar {
  position: relative;
  top: -50px;
  left: 10px;
  width: 100px;
  height: 100px;
  border: solid 5px rgb(235, 77, 75);
  border-radius: 50%;
  overflow: hidden;
}
section#customers .container .item .customer .avatar img {
  -o-object-fit: contain;
     object-fit: contain;
}
section#customers .container .item .customer .about p {
  font-size: 14px;
  color: rgb(100, 100, 100);
  line-height: 25px;
  letter-spacing: 0.5px;
}
section#customers .container .item .customer .name-prof span {
  font-size: 24px;
  font-weight: 500;
  color: #232323;
}
section#customers .container .item .customer .name-prof span:nth-child(2) {
  margin-left: 8px;
  font-size: 14px;
  color: #eb4d4b;
  letter-spacing: 1px;
  font-weight: 400;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  section#customers .container .item {
    display: flex;
    justify-content: center;
  }
  section#customers .container .item .customer {
    width: 85%;
    background-color: white;
    padding: 0px 50px 40px;
    margin: 50px 0 0;
  }
  section#customers .container .item .customer .avatar {
    position: relative;
    top: -50px;
    left: 10px;
    width: 100px;
    height: 100px;
    border: solid 5px rgb(235, 77, 75);
    border-radius: 50%;
    overflow: hidden;
  }
  section#customers .container .item .customer .avatar img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  section#customers .container .item .customer .about p {
    font-size: 14px;
    color: rgb(100, 100, 100);
    line-height: 25px;
    letter-spacing: 0.5px;
  }
  section#customers .container .item .customer .name-prof span {
    font-size: 24px;
    font-weight: 500;
    color: #232323;
  }
  section#customers .container .item .customer .name-prof span:nth-child(2) {
    margin-left: 8px;
    font-size: 14px;
    color: #eb4d4b;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
@media screen and (max-width: 391px) {
  section#customers .container .title {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  section#customers .container .title h5 {
    text-transform: uppercase;
    color: #eb4d4b;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  section#customers .container .title h1 {
    font-size: 26px;
    font-weight: 600;
    position: relative;
  }
  section#customers .container .title h1::after {
    border-top: 4px solid rgb(235, 77, 75);
    left: 46.5%;
    right: 46.5%;
    bottom: -20px;
    content: "";
    position: absolute;
    width: 7%;
  }
  section#customers .container .item .customer {
    text-align: center;
    background-color: white;
    padding: 40px 15px 40px;
    margin: 0px;
  }
  section#customers .container .item .customer .avatar {
    position: static;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    border: solid 5px rgb(235, 77, 75);
    border-radius: 50%;
    overflow: hidden;
  }
  section#customers .container .item .customer .avatar img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  section#customers .container .item .customer .about p {
    width: 100%;
    font-size: 12px;
    color: rgb(100, 100, 100);
  }
  section#customers .container .item .customer .name-prof span {
    font-size: 24px;
    font-weight: 500;
    color: #232323;
  }
  section#customers .container .item .customer .name-prof span:nth-child(2) {
    margin-left: 8px;
    font-size: 14px;
    color: #eb4d4b;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

section#latest {
  padding: 80px 0;
}
section#latest .container {
  width: 1200px;
  max-width: 100%;
}
section#latest .container .title {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
section#latest .container .title h5 {
  text-transform: uppercase;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}
section#latest .container .title h1 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
section#latest .container .title h1::after {
  border-top: 4px solid rgb(235, 77, 75);
  left: 46.5%;
  right: 46.5%;
  bottom: -20px;
  content: "";
  position: absolute;
  width: 7%;
}
section#latest .container .category ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
section#latest .container .category ul li {
  margin-left: 3px;
}
section#latest .container .category ul li a {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: #666;
  transition: 0.5s;
}
section#latest .container .category ul li a:hover {
  background-color: #f5f5f5;
  color: #232323;
}
section#latest .container .category ul li .active {
  background-color: #f5f5f5 !important;
  color: #232323;
}
section#latest .container .porduct-slide .item .prdct {
  padding: 15px 15px 0;
  text-align: center;
}
section#latest .container .porduct-slide .item .prdct .image {
  position: relative;
  height: 355px;
}
section#latest .container .porduct-slide .item .prdct .image img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s all;
}
section#latest .container .porduct-slide .item .prdct .image img:nth-child(1) {
  opacity: 1;
}
section#latest .container .porduct-slide .item .prdct .image img:nth-child(2) {
  opacity: 0;
}
section#latest .container .porduct-slide .item .prdct .image:hover img:nth-child(1) {
  opacity: 0;
}
section#latest .container .porduct-slide .item .prdct .image:hover img:nth-child(2) {
  opacity: 1;
  transform: rotateY(180deg);
}
section#latest .container .porduct-slide .item .prdct .image .rate {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
section#latest .container .porduct-slide .item .prdct .image .rate i {
  font-size: 13px;
}
section#latest .container .porduct-slide .item .prdct .image .wish-view .icon {
  width: 40px;
  height: 40px;
}
section#latest .container .porduct-slide .item .prdct .caption {
  padding: 10px;
}
section#latest .container .porduct-slide .item .prdct .caption h4 {
  font-size: 16px;
}
section#latest .container .porduct-slide .item .prdct .caption p {
  font-weight: 500;
  color: #eb4d4b;
}
section#latest .container .porduct-slide .item .prdct .caption button {
  display: none;
}
section#latest .container .porduct-slide .item .prdct .caption .active-button {
  border: none;
  background-color: #eb4d4b;
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 21px;
}

section#faq {
  background-color: #F2F6FA;
  padding: 80px 0;
  margin-bottom: 60px;
  padding: 140px 0;
}
section#faq .container {
  width: 1200px;
  max-width: 100%;
  padding: 0 9%;
}
section#faq .container .title {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
section#faq .container .title h5 {
  text-transform: uppercase;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}
section#faq .container .title h1 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
section#faq .container .title h1::after {
  border-top: 4px solid rgb(235, 77, 75);
  left: 46.5%;
  right: 46.5%;
  bottom: -20px;
  content: "";
  position: absolute;
  width: 7%;
}
section#faq .container .title .accordion {
  display: flex;
  justify-content: center;
}
section#faq .container .title .accordion .steps {
  width: 100%;
}
section#faq .container .title .accordion .steps .sect {
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-bottom: solid white;
  cursor: pointer;
}
section#faq .container .title .accordion .steps .sect-p {
  background-color: rgb(245, 245, 245);
  padding: 20px 50px;
  display: none;
}
section#faq .container .title .accordion .steps .sect-p p {
  margin-bottom: 0px;
  height: 70px;
}
section#faq .container .accordion .steps .step-item {
  border-bottom: solid 0.1px rgb(220, 220, 220);
}
section#faq .container .accordion .steps .sect {
  cursor: pointer;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
section#faq .container .accordion .steps .sect h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}
section#faq .container .accordion .steps .sect h3 span {
  font-weight: 600;
  margin-right: 8px;
}
section#faq .container .accordion .steps .sect i {
  transition: 0.5s;
}
section#faq .container .accordion .steps .sect .active-i {
  transform: rotateZ(180deg);
}
section#faq .container .accordion .steps .sect-p {
  display: none;
}
section#faq .container .accordion .steps .sect-p p {
  font-size: 14px;
  color: gray;
}

section#brands {
  margin-bottom: 70px;
}
section#brands .container {
  width: 1200px;
  max-width: 100%;
}
section#brands .container .item {
  display: flex;
  justify-content: center;
}
section#brands .container .item img {
  width: 200px;
  height: 60px;
}
section#brands .container .item .img-rotate {
  transform: rotateZ(180deg);
}/*# sourceMappingURL=homeStyle.css.map */